.title{
    color:  rgb(68, 68, 68);
    font-size:36px;
    
    text-align:center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: rgb(68, 68, 68);
    
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    
  }

  input {
      padding: 20px;
      width:86%;
      font-size:24px;
    
  }

  #dateTime {

    text-align: center;
    color: rgb(51, 51, 51);
    font-family: arial, sans-serif;
    padding-right: 15px;
    font-size: 20px;

  }
   
 

